
.flipper {
	display: inline-block;
	margin: 0.1em;
	transition-property: left, top, opacity;
	transition-timing-function: ease;
	transition-duration: .7s;
}
.flipper.added {
	-webkit-animation: added 0.4s ease-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 50% 200%;
}
.flipper.removed {
	-webkit-animation: removed 0.4s ease-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-transform-origin: 50% -50%;
	opacity: 0;
	pointer-events: none;
}
@-webkit-keyframes added {
	0% { -webkit-transform: translateZ(-40px) rotateX(0.25turn); opacity: 0; }
	100% { -webkit-transform: translateZ(-40px) rotateX(0turn); opacity: 1; }
}
@-webkit-keyframes removed {
	0% { -webkit-transform: translateZ(-40px) rotateX(0turn); opacity: 1; }
	100% { -webkit-transform: translateZ(-40px) rotateX(0.25turn); opacity: 0; }
}
.layout-flippers,
.layout-flippers *,
.just-added {
	transition: none !important;
	-webkit-transition: none !important;
	-webkit-transition-property: none !important;
}
